.site-header {
  padding-top: 22px;
  padding-bottom: 21px;
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__content {
    display: flex;
    align-items: center;
  }
  
  &__nav {
    margin-left: 58px;
  }
  
  &__list {
    @include list-unstyled;
    display: flex;
    gap: 32px;
  }
  
  &__link {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $color-grey;
    text-decoration: none;
  }
  
  &__link:hover{
    color: $color-primary;
  }
  
  &__button {
    display: none;
  }
}

@include breakpoint-down(700px){
  .site-header {
    padding-top: 24px;
    padding-bottom: 47px;
    
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
    }
    
    &__content {
      display: flex;
      align-items: center;
    }
    
    &__nav {
      margin-left: 58px;
      display: none
    }
    
    &__list {
      @include list-unstyled;
      display: flex;
      gap: 32px;
    }
    
    &__link {
      font-family: 'Space Mono';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #E5ECF4;
    }
    
    &__main-link {
      display: none;
    }
    
    &__button {
      display: flex;
      align-items: center;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
    
    &__line {
      display: block;
      position: absolute;
      left: 32px;
    }
    
    &__cross {
      display: none;
    }
  }
  
  .site-header__container--active{
    .site-header__container{
      position: relative;
    }
    
    .site-header__nav{
      display: block;
      position: absolute;
      left: -8px;
      top: 100%;
      margin: 0;
      padding-top: 64px;
      max-width: 256px;
      width: 100%;
      background-color: #333A44;
      height: calc(100vh - 100%);
      padding-left: 32px;
      margin-top: 23px;
      box-shadow: 0 5000px 0 5000px rgba(0, 0, 0, 0.75);
    }
    
    .site-header__line{
      display: none;
    }
    
    .site-header__cross{
      display: block;
      display: block;
      position: absolute;
      left: 32px;
    }
    
    .site-header__list{
      flex-direction: column;
      gap: 24px;
    }
    
    .site-header__main-link{
      position: absolute;
      display: block;
      bottom: -500px;
      left: 32px;
    }
  }
}