.sign-up {
  background-color: $color-second;
  padding-top: 102px;
  padding-bottom: 102px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  &__heading {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px; 
    color: #FFFFFF;
    max-width: 415px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  &__link {
    margin-right: 18px;
    background-color: $color-light;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 15px;
    text-decoration: none;
  }

  &__span {
    margin-left: 12px;
  }

  &__link-txt {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: $color-second;
    margin: 0;
    margin-bottom: 4px;
  }
    
  &__link--desc {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
    color: $color-second;
    margin: 0;

  }
}
.container {
}
