.step {
  margin-top: 160px;
  margin-bottom: 200px;

  // &__container {
  // }

  &__list {
    @include list-unstyled;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__item {
    max-width: 350px;
  }

  &__item-wrapper::before {
    content: url("/img/phone.svg");
    display: block;
    background-size: contain;
    margin-bottom: 40px;

    &__item-wrapper::after {
      border: 15px solid #E5ECF4;
      height: 15px;
    }
  }

  &__heading {
    font-family: 'Space Mono';
    margin: 0;
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: $color-second;
  }

  &__txt {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $color-grey;
  }

  .step__item-img {
    margin-bottom: 40px;
  }

  .step__item::after {
    content: '';
    display: block;
    max-width: 973px;
    width: 100%;
    border: 10px solid #E5ECF4;
    position: absolute;
    z-index: -1;
    transform: translate(-92%, -270px);
    background-color: #E5ECF4;
  }
}

@include breakpoint-down(958px) {
  .step {
    margin-top: 160px;
    margin-bottom: 200px;

    &__list {
      @include list-unstyled;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      max-width: 400px;
      margin-left: 125px;
    }

    .step__item-img {
      position: absolute;
      margin-bottom: 40px;
      display: inline-block;
      left: calc(78px);
    }

    .step__item::after {
      max-width: 973px;
      width: 100%;
      border: 10px solid #E5ECF4;
      position: absolute;
      height: 15px;
      z-index: -1;
      transform: rotate(90deg) translate(-530px, -5px);
      left: -280px;
    }
  }

}

@include breakpoint-down(764px) {
  .step .step__item::after {
    max-width: 973px;
    width: 100%;
    border: 10px solid #E5ECF4;
    position: absolute;
    height: 15px;
    z-index: -1;
    transform: rotate(90deg) translate(-530px, -5px);
    left: -260px;
  }
}

@include breakpoint-down(590px) {
  .step .step__item::after {
      display: none;
    }

    .step .step__item-img {
      position: absolute;
      margin-bottom: 40px;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%)
    }
    .step .step__item{
      margin-left: 0;
    }

    .step .step__heading{
      margin-top: 207px;
      text-align: center;
    }

    .step .step__txt{
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
   } 

    .step__item-img{
      margin: 0;
    }
  
}